body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#myForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-weight: bold;
}

.sample-data {
    margin-left: 20px; /* Відступ зліва */
    padding: 10px; /* Відступ всередині блоку з прикладами введення */
    border: 1px solid #ccc; /* Рамка для блоку */
    border-radius: 5px; /* Закруглені кути */
}

.sample-data ul {
    list-style: none; /* Забрати маркери списку */
    padding: 0;
}
